:root {
  --greenOff: #28613a;
  --redOff: #751a1a;
  --yellowOff: #616318;
  --blueOff: #14315c;
  --greenOn: #28d805;
  --redOn: #f80606;
  --yellowOn: #ffee00;
  --blueOn: #008cff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



html {
  background: url("./img/9207849.jpg") no-repeat top center/cover;
  width: 100%;
  height: 100vh;
  font-size: 100%;

}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /*align-items: center;
  text-align: center; */
  padding: 20px
}

h2 {
  color: #ffffff;
  /* border: 6px solid #ffffff; */
  background-color: transparent;
  font-size: 2rem;
  border-radius: 15px;
  padding-top: 1rem;
  font-family: 'press start 2P', sans-serif;
  cursor: pointer;
  filter: drop-shadow(0 0 15px currentColor) drop-shadow(0 0 50px currentColor) contrast(2) brightness(2);
  transition: .2s;
  text-align: center;
}

.turn {
  color: var(--greenOn);
}

.turn.inactive {
  color: black;
  filter: none;
}

.gameBoard {
  min-width: 70%;
  aspect-ratio: 1/1;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: rgb(24, 24, 24);
  border-radius: 50%;
  box-shadow:
    1px 1px 1px black,
    inset 2px 3px 5px rgba(0, 0, 0, 0.3),
    inset -2px -3px 5px rgba(255, 255, 255, 0.5);


}

.button {
  width: 40%;
  height: 40%;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px;
  border: none;
  outline: none;
  border: solid 2px rgb(0 0 0 70%);
  box-shadow:
    1px 1px 1px black,
    inset 2px 3px 5px rgba(0, 0, 0, 0.3),
    inset -2px -3px 5px rgba(255, 255, 255, 0.5);
  font-size: 4rem;
  font-family: 'press start 2P', sans-serif;

}

.green {

  border-top-left-radius: 100%;
  background: var(--greenOff);
  float: left;

}

.red {

  border-top-right-radius: 100%;
  background: var(--redOff);
  float: left
}

.blue {

  border-bottom-right-radius: 100%;
  background: var(--blueOff);
  float: left
}

.yellow {

  border-bottom-left-radius: 100%;
  background: var(--yellowOff);
  float: left
}

.button:active {
  transform: scale(0.98);
}

.start {
  width: 100%;
  color: #bd40ee;
  border: 6px solid #bd40ee;
  background-color: transparent;
  font-size: 2rem;
  border-radius: 15px;
  padding: 10px;
  font-family: 'press start 2P', sans-serif;
  cursor: pointer;
  filter: drop-shadow(0 0 15px #bd40ee) drop-shadow(0 0 50px #bd40ee) contrast(2) brightness(2);
  transition: .2s
}

.start:hover {
  color: black;
  background-color: #bd40ee;
  filter: drop-shadow(0 0 20px #bd40ee) contrast(2) brightness(2);
}

#gameOver {
  display: 'Press Start 2P', 'sans-serif';
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#start.blink {
  animation: blink 0.2s 5;
}

.container {
  width: 90vw;

  display: grid;
  grid-template-areas: 'simon level player' '. gb .' '. start .';
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  justify-content: center;
  align-content: center;
  gap: 30px
}

#levelHeading {
  grid-area: level;
}

#simon {
  grid-area: simon;
}

#gb {
  grid-area: gb;
}

#player {
  grid-area: player;
}

#start {
  grid-area: start;
}

@media (max-width: 1024px) {
  html {
    font-size: 90%
  }
}


@media (max-width: 768px) {
  .container {
    /* min-width: 100vw; */
    grid-template-areas: 'level' 'simon' 'player' 'gb' 'start';
    grid-template-columns: .9fr;
    grid-template-rows: 1fr 1fr 1fr 8fr 1fr;
  }

  .gameBoard {
    width: 85%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 75%
  }

  .gameBoard {
    width: 100%;
  }

  .container {
    grid-template-columns: .9fr;
    grid-template-rows: 1fr 0.8fr .8fr 8fr 1fr;
  }
}